{{ if .Site.IsServer }}
  <div
    class="fixed right-0 top-0 z-50 mr-2 mt-2 flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-sm uppercase text-gray-700 sm:bg-orange-200 md:bg-green-200 lg:bg-purple-200 xl:bg-red-200"
  >
    <span class="block sm:hidden">all</span>
    <span class="hidden sm:block md:hidden">sm</span>
    <span class="hidden md:block lg:hidden">md</span>
    <span class="hidden lg:block xl:hidden">lg</span>
    <span class="hidden xl:block">xl</span>
  </div>
{{ end }}
