<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}}
  </head>

  <body
    class="mb-10 mt-24 w-screen bg-secondary text-primary dark:bg-secondary"
  >
    {{- partial "dev/size-indicator.html" . -}}
    {{- partial "header.html" . -}}


    <div id="content" class="z-0">
      {{- block "main" . }}
      {{- end }}
    </div>

    {{- partial "footer.html" . -}}

    {{- partial "logos-reftagger.html" -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
