{{ define "main" }}
  <div
    class="grid min-h-screen grid-cols-1 justify-items-center pt-10 sm:px-10"
  >
    <article
      class="prose prose-xl max-w-screen-lg p-4 dark:prose-invert prose-headings:font-highlight prose-p:font-serif sm:p-10"
    >
      <h1 class="">{{ .Title }}</h1>
      {{ .Content }}
    </article>
    <ul
      class="mx-auto flex w-11/12 min-w-min flex-row flex-wrap gap-6 justify-self-stretch"
    >
      <!-- <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 min-w-min justify-self-stretch w-11/12 mx-auto mt-4"> -->
      {{ range .Pages }}
        <li class="mx-auto">
          <a href="{{ .Permalink }}" class="text-secondary">
            <div
              class="prose prose-xl h-48 w-[22rem] rounded-xl bg-secondary-light p-6 text-primary drop-shadow-lg dark:prose-invert hover:drop-shadow-2xl prose-headings:font-highlight prose-p:font-serif sm:w-96"
            >
              <h2 class="">{{ .Title }}</h2>
              <p class="">{{ .Description | strings.Truncate 60 }}</p>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
