<section
  id="hero"
  class="mx-auto mt-8 flex flex-col flex-wrap items-center justify-around lg:flex-row lg:flex-nowrap"
>
  <div class="flex w-5/6 flex-col items-end text-end md:w-3/4 lg:w-1/3">
    <h1 class="my-4 font-highlight text-5xl">Main Header Text</h1>
    <p class="my-4 font-serif text-xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Sem viverra aliquet
      eget sit amet tellus cras. Nisl tincidunt eget nullam non nisi.
    </p>
    <a href="/pickme" class="my-4 h-1/2 w-auto">
      <div
        class="h-12 border-2 border-primary bg-secondary-dark px-12 pt-2 text-center font-serif hover:bg-primary hover:text-secondary dark:bg-secondary-light dark:hover:bg-primary"
      >
        Pick Me
      </div>
    </a>
  </div>

  <div class="-z-10 m-8 h-screen w-5/6 md:w-3/4 lg:w-1/2">
    <div class="h-5/6 bg-neutral-200 p-4">
      <div
        class="relative flex h-full justify-center bg-hero bg-cover bg-bottom dark:bg-hero-dark"
      >
        <p
          class="absolute top-[10%] select-none font-handwriting text-[8vmin] xl:text-[10vmin]"
        >
          A Place for You!
        </p>
      </div>
    </div>
  </div>
</section>
